.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
#zeroDay {
  color: #0b5ed7;
}
#firstDay {
  color: rgb(255, 0, 0);
}

#secondDay {
  color: rgb(255, 128, 0);
}
#thirdDay {
  color: green;
}
#fourthdDay {
  color: blueviolet;
}
